- var name = reqParams.get.name;
- var email = reqParams.get.email;
- var message = reqParams.get.message;
- var messageParams ={name_send_message_properties: name, email_send_message_properties: email, message_send_message_properties: message}
- var sendMessage = macro_sendMessage(77, messageParams)