- var login = userName;
- var hash = userRestoreHash;
- var sitePath = sitePath;
- var fullPathToRecovery = sitePath + '/password-recovery/?user_hash=' + hash
h1 Восстановление пароля
p Логин: #{ login }
p Ссылка на восстановление: #{ fullPathToRecovery }