aside#mdc-dialog-password-recovery.mdc-dialog(role='alertdialog', aria-labelledby='mdc-dialog-with-list-label', aria-describedby='mdc-dialog-with-list-description')
    .mdc-dialog__surface
        header.mdc-dialog__header
            h2#mdc-dialog-with-list-label.mdc-dialog__header__title
                | Password recovery
        section#mdc-dialog-with-list-description.mdc-dialog__body.mdc-dialog__body--scrollable
            div
                #email-recovery.mdc-text-field.mdc-text-field--outlined
                    input.mdc-text-field__input(required='required', aria-controls="auth-login-required", aria-describedby="auth-login-required")
                    label.mdc-floating-label(for='email-recovery') Email
                    .mdc-notched-outline
                        svg
                            path.mdc-notched-outline__path
                    .mdc-notched-outline__idle
                p#email-recovery-required.error-input.mdc-text-field-helper-text--validation-msg(aria-hidden="true")
                    | Email is required field
        footer.mdc-dialog__footer
            button.mdc-button.mdc-dialog__footer__button.mdc-dialog__footer__button--cancel(type='button') Cancel
            button#do_recovery.mdc-button.mdc-dialog__footer__button(type='button') Send
    .mdc-dialog__backdrop