- var password = reqParams.get.password;
- var passwordConfirm = reqParams.get.confirm_password;
- var hash = reqParams.get.user_hash;
- var recoveryPasswordData = {password: password, passwordConfirm: passwordConfirm, userHash: hash}
- var passwordRecovery = macro_passwordUserRecovery(recoveryPasswordData)

if(passwordRecovery.errorCode)
    - var errorResponse = "{"
    - errorResponse = errorResponse+'"errorCode":'
    - errorResponse = errorResponse+'"'+passwordRecovery.errorCode+'"'
    - errorResponse = errorResponse+','
    - errorResponse = errorResponse+'"description":'
    - errorResponse = errorResponse+'"'+passwordRecovery.description+'"'
    - errorResponse = errorResponse+"}"
    != errorResponse
    - macro_setResponseHeaderCode(400)