h1.mdc-typography--headline5!= pageInfo.page.h1
- var hash = reqParams.get.user_hash;
.recovery-password-form
    section
        input#password-recovery-hash(type="hidden", value!=hash)
        #password-recovery.mdc-text-field.mdc-text-field--outlined
            input.mdc-text-field__input(required='required', type="password", aria-controls="auth-login-required", aria-describedby="auth-login-required")
            label.mdc-floating-label(for='password-recovery') New password
            .mdc-notched-outline
                svg
                    path.mdc-notched-outline__path
            .mdc-notched-outline__idle
        #confirm-password-recovery.mdc-text-field.mdc-text-field--outlined
            input.mdc-text-field__input(required='required', type="password", aria-controls="auth-login-required", aria-describedby="auth-login-required")
            label.mdc-floating-label(for='confirm-password-recovery') Confirm new password
            .mdc-notched-outline
                svg
                    path.mdc-notched-outline__path
            .mdc-notched-outline__idle
    .mdc-dialog__footer
        button#do_recovery_password.mdc-button.mdc-button--raised(type='button') Save
script(src='/js/client/password-recovery.js')
